*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    text-decoration: none;
}
h5{
    color: #111827;
    margin-left: 100px;
    font-size: x-large;
    margin-top: 100px;
}
body{
    width: 100%;
    background: #E5E7EB;
    position: relative;
    display: flex;
}
#menu{

background: #111827;
width:300px;
height:100%;
 position: fixed;
 top: 0;
 left: 0;
}

#menu .logo{
  display: flex;
  align-items: center;
  color:white;
  padding :30px 0 0 30px;
}
#menu .logo img{

    width:40px;
    margin-right: 15px;
}
#menu #close{
    margin-left: 90px;
    font-size: 27px;
    display: none;
    cursor: pointer;
}
#menu .items{

    margin-top: 40px;
}
#menu .items li{

 list-style: none;
 padding: 15px 0 ;
 transition: 0.3s ease;


}

.dropdown{
    display: block;
    padding: 8px 0 ;
    transition: 0.3s ease;
    margin-left: 70px;
    text-decoration: none;
    color:rgb(134, 141, 151);

}
.dropdown:hover{

    background-color: #756de1;
}
.content{
    display: none;
    min-width: 100px;
}
#droparrow{
    float: right;
}
.drophover:hover .content{
    display: block;
    /* background-color: #248156; */
}
#menu .items li i{

   color:rgb(134, 141, 151);
   width: 30px;
   height: 30px;
   line-height: 30px;
   text-align: center;
   font-size: 14px;
   margin:0 10px 0  25px;

}
#menu .items li:hover{
    background: #253047;
    cursor: pointer;
}
/* #menu .items li:nth-child(1){
    border-left: 4px solid #fff;
} */
#menu .items li a{
    text-decoration: none;
    color:rgb(134, 141, 151);
    font-weight: 300;
    transition: 0.3s ease;

}
#menu .items li:hover i,
#menu .items li:hover a{
    color: #F3F4F6;
}
/*  */
#interface{
    width:calc(100% - 300px);
    position: relative;
    margin-left: 300px;


}
#interface .navigation{

    display: flex;
    align-items: center;
    justify-content: space-between;
    background: white;
    padding: 15px 30px;
    border-bottom: 3px solid #594ef7;
    position: fixed;
    width:calc(100% - 300px);

}
#interface .navigation .search{

    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px 14px;
    border:1px solid #d7dbe6;
    margin-left: 10px;
}
#menu-btn{
    color:#2b2b2b;
    font-weight: 600;
    cursor: pointer;
    font-size: 30px;
    display: none;
}
#interface .navigation .search i{
    margin-right: 14px;
}
#interface .navigation .search input{
    border: none;
    outline: none;
    font-size: 14px;
}
.n1{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
#interface .navigation .profile{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
#interface .navigation .profile i {
    margin-right: 20px;
    font-size: 19px;
    font-weight: 400;
}
#interface .navigation .profile img{
    width: 30px;
    height: 30px;
    object-fit: cover;
    border-radius: 50%;
}

#interface .i-name{
    color: #444a53;
    padding: 30px 30px 0 30px;
    font-size: 20px;
    font-weight: 700;
    margin-top: 70px;
}
#interface .values{
    padding: 30px 30px 0 30px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
#interface .values .val-box{
    background: white;
    width:235px;
    padding: 16px 20px;
    border-radius: 5px;
    display: flex;
    justify-content: flex-start;
    align-items: center;

}
#interface .values .val-box i{
    font-size: 25px;
    width: 60px;
    height: 60px;
    line-height: 60px;
    border-radius: 50%;
    text-align: center;
    background-color: #594ef7;
    color: white;
    margin-right: 15px;
}
#interface .values .val-box h3{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 5px;

}
#interface .values .val-box span{
    color:#828997;
    font-size: 15px;

}
.board{
    width: 94%;
    margin:30px 0 30px 30px;
    overflow: auto;
    background: #fff;
    border-radius: 8px;
}
.board img{
    width:45px;
    height:45px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 15px;

}
.board h5{
    font-weight: 600;
    font-size: 14px;

}
.board p{
    font-weight: 400;
    font-size: 13px;
    color: #787d8d;
}
.board .people{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-align: start;
}
.board .head{
    color: black;
    font-size: larger;
    font-weight: 600;
    letter-spacing: 1px;
}
.board .role{
    color: #444a53;
}
table{

    border-collapse: collapse;
}
tr{
    border-bottom: 1px solid #eef0f3;
}
thead td {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 400;
    background: #F9FAFB;
    text-align: start;
    padding: 15px;
}
tbody td
{
    padding: 10px 15px;
}
.recruitment .active p{

     background-color: #81ee88;
     display: inline-block;
     border-radius: 40px;
     padding: 2px 10px;
     color: black;
     font-weight: 500;

}
.edit a{
    text-decoration: none;
    font-size: 15px;
    color: #756de1;
    font-weight: 600;


}
.update{
    color: rgb(71, 16, 122);
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;

}
/* Recruitmner */
.recruitment{

    margin: 20px 0 0 20px;
    width: 98%;
    height: auto;
    /* overflow-x: hidden; */

}
.recruitment p{

    font-size: 20px;
    color: #181c26;
    font-weight: 600;
    letter-spacing: 1px;

}
.recruitment input{
    height:45px;
    outline: none;
    font-size: 16px;
     width:80% ;
     margin-top: 5px;
     padding-left: 10px;
     border: none;
}
.recruitment select{
    height:45px;
    outline: none;
    font-size: 16px;
     width:80% ;
     margin-top: 5px;
     padding-left: 10px;
     border: none;
}
.recruitment option{

    font-size: 16px;



}
.recruitment input[type=submit]{

    width:160px;
    background-color: #248156;
    color: white;
    font-size: 18px;
    font-weight: 600;
    margin-top: 20px;
}
.recruitment input[type=reset]{

    width:160px;
    background-color: #ce1212;
    color: white;
    font-size: 18px;
    font-weight: 600;
    margin-left: 20px;
    margin-top: 20px;
}
/* deignation and department */
.display{
    width: 100%;
    height: 100%;
    display: flex;

}
.display .addform{

    width:40%;
    height: 300px;
    padding: 40px;


}
.addform *{
    display: block;
}
.addform label{
    margin: 10px 0  0 10px;
    font-size: 20px;
    font-weight: 600;
    color: #111827;
}
.addform input[type=text]{
    margin: 10px 0  0 10px;
    font-size: 15px;
    font-weight: 400;
    height: 40px;
    border: none;
    outline: none;
    width: 300px;
    padding-left: 10px;
}
.addform input[type=submit]{
    margin: 10px 0  0 10px;
    font-size: 15px;
    font-weight: 600;
    height: 40px;
    border: none;
    outline: none;
    width: 150px;
    background-color: #248156;
    color: white;
    cursor: pointer;

}
.flash{
    height:50px;
    line-height: 50px;
    background-color: hsla(152, 35%, 51%, 0.728);
    color: rgb(255, 255, 255);
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 20px;
    padding-left: 20px;
    font-size: 20px;
    font-weight: 500;
}
.getdata{
    padding: 45px;
}
.getdata h3{
    margin: 10px 0  0 10px;
    font-size: 20px;
    font-weight: 600;
    color: #111827;
    margin-bottom: 20px;

}
.getdata .list{

    list-style: none;
    margin-left: 30px;
    height: 40px;
    border-bottom: 1px solid rgb(255, 255, 255);
    line-height: 40px;


}
.list i{
    color: #ce1212;
    float: right;
    line-height: 40px;
    margin-left: 100px;
    cursor: pointer;

}
.modal{

    position: absolute;
    width:350px;
    height:250px;
    /* margin:auto; */
    background-color: white;
    padding: 50px;
    margin-left: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    visibility: hidden;
    transition: 0.5s ease;

}
.modal i {
    font-size: 50px;
    color: hsla(0, 84%, 54%, 0.822);
    margin-bottom: 20px;
    /* border-radius: 10px; */
}
.modal select{
    width:100%;
    height:50px;
    margin-top: 30px;
    margin-bottom: 50px;
    font-size: 20px;
}
.modal input{
    width:100%;
    height:50px;
     font-size: 20px;
}
.modal p {

     font-size: 25px;
     font-weight: 500;
     text-align: center;
     color: #444a53;

}
.modal .buttons{
    margin-top: 40px;
    display: flex;
}
.modal input[type=submit]{
    background-color: hsla(0, 84%, 54%, 0.822);
    color:white;
    font-size: 18px;
    width:100px;
    margin-top: 20px;
    padding: 5px;
    border: none;
    outline: none;


}
.modal a{
    background-color:#444a53;
    color:white;
    font-size: 18px;
    width:100px;
    margin-top: 20px;
    padding: 5px;
    text-decoration: none;
    margin-left: 5px;
    text-align: center;



}
/* Modal leave start */
.modalleave{

    position: absolute;
    width:400px;
    height:400px;
    /* margin:auto; */
   background-color: white;
    padding: 50px;
    margin-left: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    visibility: hidden;
    transition: 0.5s ease;

}
.modalleave select{
    width:100%;
    height:50px;
    margin-top: 30px;
    margin-bottom: 50px;
    font-size: 20px;
    padding-left: 10px;
}
.modalleave input[type='text']{
    width:100%;
    height:100px;
    font-size: 20px;
    padding-left: 10px;
}
.modal p {

     font-size: 25px;
     font-weight: 500;
     text-align: center;
     color: #444a53;

}
.modalleave .buttons{
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.modalleave input[type=submit]{
    background-color: hsla(0, 84%, 54%, 0.822);
    color:white;
    font-size: 18px;
    width:100px;
    margin-top: 20px;
    padding: 5px;
    border: none;
    outline: none;
    height: 50px;


}
.modalleave a{
    background-color:#444a53;
    color:white;
    font-size: 18px;
    width:100px;
    margin-top: 20px;
    text-decoration: none;
    margin-left: 5px;
    text-align: center;
    height: 50px;
    line-height: 50px;




}
/* MOdal leave end */
/* leave start */
 .leave{
    width: 95%;
    margin:50px 30px 0 30px;
 }
 .nopending{

    margin-top: 100px;
    margin-left: 100px;
 }
 .leave thead th{

    font-size: 20px;
    text-align: center;
    color: #2b2b2b;
   padding: 20px;
 }
 .leave tbody td{

    font-size: 18px;
    text-align: center;
    padding: 20px;
 }
 .leave tbody td.pending{
    color: #244282;
    font-weight: 600;
 }
 .leave tbody td.Approved{
    color: #198b58;
    font-weight: 600;

 }.leave tbody td.Rejected{
    font-weight: 600;
    color: #ed1212;
 }
 .leave tbody td button{

    height:40px;
    background-color: rgb(227, 10, 148);
    color: white;
    border: none;
    outline: none;
    width: 100px;
    font-weight: 600;
    border-radius: 10px;
    cursor: pointer;
 }

/* end */
/* profile */
.container{
    width:100%;
    padding: 30px;

}
.container .tab_box{
    width: 100%;
    display: flex;
    /* justify-content: space-around; */
    margin-right: 20px;
    align-items: center;
    border-bottom: 2px solid rgb(141, 135, 135);
    position: relative;

}
.container .tab_box .tab_btn{
    font-size: 18px;
    font-weight: 600;
    color: #244282;
    background: none;
    border: none;
    padding: 18px;
    cursor: pointer;


}
.container .tab_box .line{
    position: absolute;
    top:54px;
    left:15px;
    width: 90px;
    height:5px;
    background-color: #594ef7;
    border-radius: 10px;
    transition: 0.3s ease-in-out;
}
.container .tab_box .tab_btn.active{
    color: #181633;
}
.container .content_box{
    padding: 20px;
}
.container .content_box .contents{
    display: none;
    animation: moving .5s ease;
}
.container .content_box .contents .recruitment{

    margin: 20px 0 0 20px;
    width: 98%;
    height: auto;
    /* overflow-x: hidden; */

}
.container .content_box .contents.recruitment p{

    font-size: 20px;
    color: #181c26;
    font-weight: 600;
    letter-spacing: 1px;

}
.container .content_box .contents .recruitment input{
    height:45px;
    outline: none;
    font-size: 16px;
     width:80% ;
     margin-top: 5px;
     padding-left: 10px;
     border: none;
}
.container .content_box .contents .recruitment select{
    height:45px;
    outline: none;
    font-size: 16px;
     width:80% ;
     margin-top: 5px;
     padding-left: 10px;
     border: none;
}
.container .content_box .contents .recruitment img{

    height:150px;
    width: 150px;
    display: block;
    object-fit: cover;
}
.container .content_box .contents .recruitment input[type=file]{

    height:45px;
    outline: none;
    /* font-size: 16px; */
     width:39% ;
     margin-left: -2px;
     margin-top: 5px;
     border: none;
     background: white;
     line-height: 45px ;

}
.container .content_box .contents .recruitment input[type=submit]{

    width:160px;
    background-color: #248156;
    color: white;
    font-size: 18px;
    font-weight: 600;
    margin-top: 20px;
}
.container .content_box .contents .recruitment input[type=reset]{

    width:160px;
    background-color: #ce1212;
    color: white;
    font-size: 18px;
    font-weight: 600;
    margin-left: 20px;
    margin-top: 20px;
}
@keyframes moving {

    from{ transform: translateX(50px);opacity: 0;}
    to{ transform: translateX(0px);opacity: 1;}


}
.container .content_box .contents.active{

    display: block;
}
.container .content_box .contents p{
    background-color: none;

}
#flash{
    color: red;
    font-size: 16px;
}
.profdisplay img{
    width:200px;
    height: 200px;
    margin-left: 20px;
    margin-top: 20px;
    object-fit: cover;
}
.profdisplay table{
    margin-top: 30px;
}
.profdisplay table tr{
    line-height: 40px;
}
.profdisplay table td {

    font-size: 20px;
    color: #111827;

}
.countries{
    width:100px;
    height: 500px;
}

/* projects start */
.projects{
    width:100%;
    height: auto;
    padding: 40px;


}
.projects table{

    width: 100%;
}
.projects table thead tr  td{

    height:80px;
    font-size: 17px;
    font-weight: 600;
    font-family: sans-serif;
}
.projects table tbody tr  td{

    height:60px;
    font-size: 16px;
    font-weight: 600;

}
.projects table tbody tr:nth-child(odd) {
    background-color: #9fd3f5;
    color: #fff;
  }
.projects table tbody tr  td #edit{

    margin-right: 15px;
    margin-left: 20px;
    font-size: 20px;
}
.projects table tbody tr  td #delete{

    color: rgb(174, 24, 24);
    font-size: 20px;
}


#mult{
    appearance: none;
    height: 150px;
}

/*projects end  */

@media (max-width: 769px){
    #menu{

        background: #111827;
        width:270px;
        margin-left: -270px;
        transition: 0.3s ease;
        }
        #menu.active{
            margin-left:0px;
            z-index: 1;
            width: 350px;
        }
        #interface{
            width:100%;
            margin-left: 0;
            display: inline-block;
        }
        #interface .navigation{
            width:100%;
        }
        #interface .values {
            display: flex;
            justify-content:flex-start;
            align-items: center;
            flex-wrap: wrap;

        }
        #interface .values .val-box{
            padding:16px 20px;
            margin: 10px 20px 10px 0;
            width:235px;


        }
        #menu-btn{
            display: initial;
        }
        #menu #close{

            display: initial;
        }


}
@media (max-width : 477px ){

    #interface .navigation{
        padding: 15px;
    }
    #interface .navigation .search input{
        width:150px;

    }
    .i-name{
        padding: 30px 15px 0 30px;
    }
    .values{
        padding: 15px 15px 0 15px;

    }
    #interface .values .val-box{
        width: 100%;
        margin: 8px 0;
    }
    .board{
        margin:30px 15px 30px 15px;
        overflow-x: auto;
        width: 87%;
        margin-left: 30px;
        margin-right: 30px;
    }
    .board::-webkit-scrollbar {
        display: none;
      }
      #menu #close{

        display: initial;
    }
}
